.pokemon {
  width: 352px;
  height: 137px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 30.316%,
    rgb(245, 245, 245) 100%
  );
  border-radius: 8px;
  justify-content: space-between;
  padding-left: 26px;
  padding-top: 7px;
  box-shadow: 4px 4px 4px 0px rgba(33, 33, 33, 0.1);
  margin-bottom: 45px;
}

.pokemonName {
  font-size: 18px;
  margin: 0;
  color: #212121;
  font-weight: bold;
  margin-bottom: 8px;
}

.stats,
.types {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.stat {
  display: flex;
  flex-direction: column;
  margin-right: 13px;
}

.stat_circle {
  width: 38px;
  height: 38px;
  font-size: 15px;
  margin: 0;
  color: #212121;
  font-weight: normal;
  border: 5px solid #212121;
  border-radius: 100%;
  padding: 6px 5px;
  align-items: center;
  margin-bottom: 6px;
}

.stat_text {
  font-size: 12px;
  margin: 0;
  color: #4b4b4b;
  font-weight: normal;
}

.type_1 {
  font-size: 12px;
  margin: 0;
  color: #212121;
  font-weight: normal;
  background-color: #73d677;
  padding: 3px 10px;
  border-radius: 11px;
  margin-right: 13px;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.18);
}

.type_2 {
  font-size: 12px;
  margin: 0;
  color: #212121;
  font-weight: normal;
  background-color: #07d6f2;
  padding: 3px 10px;
  border-radius: 11px;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.18);
}

// .modal {
//   z-index: 9;
//   border: 2px solid #3771c8;
//   padding: 15px;
//   border-radius: 16px;
//   background: #fff;
//   position: fixed;
//   width: 50%;
//   min-height: 70%;
//   left: 50%;
//   transform: translateX(-50%);
//   top: 20%;
// }

